.building-view {
     height: 100%;
     width: 100%;
}


 .building-view vaadin-grid {
     height: 100%;
     line-height: var(--lumo-line-height-m);
}


 .building-view vaadin-grid, .building-view vaadin-grid-cell-content {
     background-color: var(--lumo-contrast-10pct);
}


 .building-view .toolbar {
     background-color: var(--lumo-base-color);
     padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
}


.building-view .card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: auto;
  justify-content: space-between;
  gap: 8px;
  background-color: var(--lumo-base-color);
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
  padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);

     .info {
         display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          flex-basis: auto;
          justify-content: start;
          gap: 8px;

         .header {
             font-size: small;
             font-weight: bold;
             display: flex;
             flex-wrap: wrap;
             flex-direction: row;
             flex-basis: auto;
             align-items: center;
             gap: 16px;
        }

         .body {
             display: flex;
             flex-wrap: wrap;
             flex-direction: row;
             flex-basis: auto;
             align-items: center;
             gap: 10px;
        }

     .buttons {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    flex-basis: auto;
                    align-items: center;
                    justify-content: space-between;
                    gap: 16px;
         }

    }


}
