.telegram-chats-view {
  height: 100%;
  width: 100%;
}

.telegram-chats-view .toolbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: auto;
  align-items: center;
  gap: 16px;
}

.telegram-chats-view .footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: auto;
  align-items: center;
  gap: 16px;

}

.telegram-chats-view .card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: auto;
  justify-content: space-between;
  background-color: var(--lumo-base-color);
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
  padding: calc(var(--lumo-space-s) * 1) var(--lumo-space-m);

     .body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-basis: auto;
        align-items: center;
        gap: 12px;
    }


  .footer {
      font-size: medium;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      flex-basis: auto;
      align-items: center;
      gap: 8px;
  }


   .buttons {
             display: flex;
             flex-wrap: wrap;
             flex-direction: row;
             flex-basis: auto;
             align-items: start;
             justify-content: start;
             gap: 16px;
        }

}