<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE-APPENDER">
    <encoder>
      <pattern>${DEFAULT_PATTERN}</pattern>
    </encoder>
  </appender>
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="RollingFile-Appender">
    <encoder>
      <pattern>${DEFAULT_PATTERN}</pattern>
    </encoder>
    <file>${LOG_DIR}${APP_LOG_FILE}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${LOG_DIR}${APP_LOG_FILE}-%d{yyyy-MM-dd}.log</fileNamePattern>
      <!--<fileNamePattern>${LOG_DIR}/%d{yyyy/MM}/${APP_LOG_FILE}.gz</fileNamePattern>-->
      <!-- keep 30 days' worth of history capped at 3GB total size -->
      <maxHistory>30</maxHistory>
      <totalSizeCap>3GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <appender class="ch.qos.logback.classic.AsyncAppender" name="Async-Appender">
    <appender-ref ref="RollingFile-Appender"/>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="Blocking-Threads-RollingFile-Appender">
    <encoder>
      <pattern>${DEFAULT_PATTERN}</pattern>
    </encoder>
    <file>${LOG_DIR}${BLOCK_THREAD_LOG_FILE}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${LOG_DIR}${BLOCK_THREAD_LOG_FILE}-%d{yyyy-MM-dd}.log</fileNamePattern>
      <!--<fileNamePattern>${LOG_DIR}/%d{yyyy/MM}/${APP_LOG_FILE}.gz</fileNamePattern>-->
      <!-- keep 30 days' worth of history capped at 3GB total size -->
      <maxHistory>30</maxHistory>
      <totalSizeCap>3GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <appender class="ch.qos.logback.classic.AsyncAppender" name="Blocking-Thread-Async-Appender">
    <appender-ref ref="Blocking-Threads-RollingFile-Appender"/>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="Error-RollingFile-Appender">
    <encoder>
      <pattern>${DEFAULT_PATTERN}</pattern>
    </encoder>
    <file>${LOG_DIR}${ERROR_LOG_FILE}.log</file>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${LOG_DIR}${ERROR_LOG_FILE}-%d{yyyy-MM-dd}.log</fileNamePattern>
      <!--<fileNamePattern>${LOG_DIR}/%d{yyyy/MM}/${APP_LOG_FILE}.gz</fileNamePattern>-->
      <!-- keep 30 days' worth of history capped at 3GB total size -->
      <maxHistory>30</maxHistory>
      <totalSizeCap>3GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <appender class="ch.qos.logback.classic.AsyncAppender" name="Error-Async-Appender">
    <appender-ref ref="Error-RollingFile-Appender"/>
  </appender>
  <logger additivity="false" level="debug" name="io.vertx.core.impl.BlockedThreadChecker">
    <appender-ref ref="Blocking-Thread-Async-Appender"/>
  </logger>

  <property name="LOG_DIR" value="./log/"/>

  <property name="DEFAULT_PATTERN" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n"/>

  <property name="APP_LOG_FILE" value="application"/>
  <property name="BLOCK_THREAD_LOG_FILE" value="blockedThreads"/>

  <property name="ERROR_LOG_FILE" value="errors"/>

  <root level="info">
    <appender-ref ref="CONSOLE-APPENDER"/>
    <appender-ref ref="Async-Appender"/>
    <appender-ref ref="Error-Async-Appender"/>
  </root>
</configuration>
