@import url('./views/building-view.css');
@import url('./views/apartment-view.css');
@import url('./views/rates-view.css');
@import url('./views/email-config-view.css');
@import url('./views/receipt-view.css');
@import url('./views/expenses-view.css');
@import url('./views/debts-view.css');
@import url('./views/extra-charges-view.css');
@import url('./views/reserve-funds-view.css');
@import url('./views/users-view.css');
@import url('./views/telegram-chats-view.css');
@import url('./main-layout.css');

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

@media all and (max-width: 1100px) {
  .list-view.editing .toolbar,
  .list-view.editing .apartments-grid {
    display: none;
  }
}

@media all and (max-width: 1100px) {
  .list-view.editing .toolbar,
  .list-view.editing .building-grid {
    display: none;
  }
}

.grid-paginator {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: auto;
  align-items: center;
  gap: 16px;

   .items-per-page {
      width: 5em;
   }

   .page {
      width: 5em;
   }
}

* {
    font-family: Arial, Helvetica, sans-serif;
    /*font-family: "Lucida Console", "Courier New", monospace;*/
    font-size: 1rem;

    spacing-xs: 4px;
    spacing-s: 8px;
    spacing-m: 16px;
    spacing-l: 32px;
    spacing-xl: 64px;
}

 .fixed {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateY(0);
        transition: transform 0.3s ease-out;
 }

 .fixed.scroll {
        transform: translateY(-100%);
 }

 .v-dragged.card {
     outline: 1px dotted hotpink;
     opacity: 0.5;
 }

 .v-drag-over-target.card {
     outline: 1px solid lightgreen;
 }
